<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Gym Fit - Home</title>
	<link rel="stylesheet" href="/styles.css">
	<script src="https://kit.fontawesome.com/49a18364c1.js" crossorigin="anonymous"></script>
</head>

<body>
	<!-- # main -->
	<div class="main">

		<!-- # glass hover -->
		<div class="main__glass-hover"></div>
		<!-- /glass hover -->

		<!-- # show header -->
		<button class="main__show-header-btn">
			<div class="show-header-btn__bar"></div>
			<div class="show-header-btn__bar"></div>
			<div class="show-header-btn__bar"></div>
		</button>
		<!-- /show header -->

		<!-- # header -->
		<header class="main__header flex align-center justify-between">
			<h1 class="header__logo section__heading text-up">g<span class="color-orange">f</span></h1>
			<nav class="header__navigation flex">
				<a href="#" class="navigation__link text-up selected">home</a>
				<a href="#" class="navigation__link text-up">about</a>
				<a href="#" class="navigation__link text-up">trainers</a>
				<a href="#" class="navigation__link text-up">classes</a>
				<a href="#" class="navigation__link text-up">shop</a>
				<a href="#" class="navigation__link text-up">blog</a>
				<a href="#" class="navigation__link text-up">contact</a>
			</nav>
			<div class="header__our-timing">
				<h4 class="our-timing__heading">our timing</h4>
				<h4 class="our-timing__heading">8:00am - 5:00pm</h4>
			</div>
			<button class="header__close-btn" title="Close"><i class="fas fa-times-circle"></i></button>
		</header>
		<!-- /header -->

		<!-- # top section -->
		<div class="main__top-section">

			<!-- social media -->
			<div class="top-section__social-media">
				<a href="#" class="social-media__link social-media__link--top-section social-media__link--fb"><i class="fab fa-facebook-f color-grey"></i></a>
				<a href="#" class="social-media__link social-media__link--top-section social-media__link--yt"><i class="fab fa-youtube color-grey"></i></a>
				<a href="#" class="social-media__link social-media__link--top-section social-media__link--ln"><i class="fab fa-linkedin color-grey"></i></a>
				<a href="#" class="social-media__link social-media__link--top-section social-media__link--tw"><i class="fab fa-twitter color-grey"></i></a>
				<a href="#" class="social-media__link social-media__link--top-section social-media__link--pn"><i class="fab fa-pinterest-p color-grey"></i></a>
			</div>
			<!-- /social media -->

			<!-- # slide -->
			<div class="top-section__slide">
				<!-- img -->
				<div class="slide__img">
					<div class="section__hover-container padding-lateral">
						<h1 class="section__heading section__heading--large text-up text-center color-grey">
							<span class="color-orange">fitness</span> brings <span class="color-orange">happiness</span>
						</h1>
						<p class="section__description mt-10 text-center color-grey">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, maxime similique tempore accusantium, sapiente harum dignissimos ea ab numquam facilis sed fugit possimus ipsa, recusandae?
						</p>
						<a href="#" class="section__btn section__btn--center section__btn--orange mt-10">join now</a>
					</div>
					<img src="./img/top-section-img.jpg" alt="Slide image" />
				</div>
				<!-- /img -->
			</div>
			<!-- slide -->
		</div>
		<!-- # top section -->

		<!-- # our services -->
		<div class="main__our-services flex wrap-true">

			<!-- service -->
			<div class="our-services__service">
				<div class="service__icon"><i class="fas fa-apple-alt color-grey"></i></div>
				<h4 class="service__heading section__heading section__heading--small mt-15 text-up text-center color-grey">nutrition</h4>
				<p class="section__description text-center mt-15 color-grey">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, quod magni nemo, dolorum esse modi accusantium quas iure earum id!
				</p>
			</div>
			<!-- /service -->

			<!-- service -->
			<div class="our-services__service">
				<div class="service__icon"><i class="fas fa-dumbbell color-grey"></i></div>
				<h4 class="service__heading section__heading section__heading--small mt-15 text-up text-center color-grey">body building</h4>
				<p class="section__description text-center mt-15 color-grey">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, quod magni nemo, dolorum esse modi accusantium quas iure earum id!
				</p>
			</div>
			<!-- /service -->

			<!-- service -->
			<div class="our-services__service">
				<div class="service__icon"><i class="fas fa-running color-grey"></i></div>
				<h4 class="service__heading section__heading section__heading--small mt-15 text-up text-center color-grey">runnig</h4>
				<p class="section__description text-center mt-15 color-grey">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, quod magni nemo, dolorum esse modi accusantium quas iure earum id!
				</p>
			</div>
			<!-- /service -->

			<!-- service -->
			<div class="our-services__service">
				<div class="service__icon"><i class="fas fa-clipboard color-grey"></i></div>
				<h4 class="service__heading section__heading section__heading--small mt-15 text-up text-center color-grey">yoga</h4>
				<p class="section__description text-center mt-15 color-grey">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, quod magni nemo, dolorum esse modi accusantium quas iure earum id!
				</p>
			</div>
			<!-- /service -->

		</div>
		<!-- /our services -->

		<!-- # about us -->
		<div class="main__about-us padding-top-down">

			<!-- header -->
			<header class="section__header flex align-center justify-center">
				<div class="header__line header__line--left"></div>
				<h1 class="section__heading section__heading--large text-up text-center color-mid-grey">
					about <span class="color-orange">us</span>
				</h1>
				<div class="header__line header__line--right"></div>
			</header>
			<!-- /header -->

			<!-- content -->
			<div class="about-us__content flex">
				<div class="about-us__element about-us__img">
					<img src="./img/yoga-img.jpg" alt="Yoga image" />
				</div>
				<!-- about us - descriptions -->
				<div class="about-us__element about-us__descriptions flex direction-colunm justify-around">
					<!-- element -->
					<div>
						<header class="flex align-center">
							<div class="about-us__icon mr-15"><i class="fas fa-clipboard color-orange"></i></div>
							<h4 class="section__heading section__heading--small text-up color-dark-grey">yoga</h4>
						</header>
						<p class="section__description mt-10 color-mid-grey">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quae fugiat magni obcaecati esse eos ipsum assumenda eius mollitia alias.
						</p>
					</div>
					<!-- element -->
					<!-- element -->
					<div>
						<header class="flex align-center">
							<div class="about-us__icon mr-15"><i class="fas fa-dumbbell color-orange"></i></div>
							<h4 class="section__heading section__heading--small text-up color-dark-grey">body building</h4>
						</header>
						<p class="section__description mt-10 color-mid-grey">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quae fugiat magni obcaecati esse eos ipsum assumenda eius mollitia alias.
						</p>
					</div>
					<!-- element -->
					<!-- element -->
					<div>
						<header class="flex align-center">
							<div class="about-us__icon mr-15"><i class="fas fa-running color-orange"></i></div>
							<h4 class="section__heading section__heading--small text-up color-dark-grey">running</h4>
						</header>
						<p class="section__description mt-10 color-mid-grey">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quae fugiat magni obcaecati esse eos ipsum assumenda eius mollitia alias.
						</p>
					</div>
					<!-- element -->

				</div>
				<!-- about us - descriptions -->
			</div>
			<!-- /content -->

		</div>
		<!-- /about us -->

		<!-- # section banner -->
		<div class="main__section-banner">
			<div class="section__hover-container padding-lateral">
				<h1 class="section__heading section__heading--large text-up text-center color-grey">
					<span class="color-orange">gym fit</span> really <span class="color-orange">good</span> for <span class="color-orange">fitness</span>
				</h1>
				<p class="section__description mt-10 text-center color-grey">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit nostrum, explicabo. Laboriosam dolore nesciunt voluptate illo, asperiores voluptatem vitae, voluptatibus neque repudiandae quos eum exercitationem aspernatur eaque
					praesentium quas quasi!
				</p>
			</div>
			<img src="./img/fitness-banner-img-1.jpg" alt="Fitness banner image" />
		</div>
		<!-- /section banner -->

		<!-- # our trainers -->
		<div class="main__our-trainers padding-all">

			<!-- header -->
			<header class="section__header flex align-center justify-center">
				<div class="header__line header__line--left"></div>
				<h1 class="section__heading section__heading--large text-up text-center color-mid-grey">
					our <span class="color-orange">trainers</span>
				</h1>
				<div class="header__line header__line--right"></div>
			</header>
			<!-- /header -->

			<!-- /content -->
			<div class="flex-wrap-true justify-between">

				<!-- trainer container -->
				<div class="flex wrap-true justify-between">
					<div class="our-trainers__trainer">
						<img src="./img/trainer-img-1.jpg" alt="Trainer image" />
					</div>
					<div class="our-trainers__trainer">
						<img src="./img/trainer-img-2.jpg" alt="Trainer image" />
					</div>
					<div class="our-trainers__trainer selected">
						<img src="./img/trainer-img-3.jpg" alt="Trainer image" />
					</div>
					<div class="our-trainers__trainer">
						<img src="./img/trainer-img-4.jpg" alt="Trainer image" />
					</div>
				</div>
				<!-- /trainer container -->

				<!-- tainer bio -->
				<div class="our-trainers__trainer-bio flex">
					<div class="trainer-bio__img">
						<img src="./img/trainer-selected-img.jpg" alt="Trainer selected image" />
					</div>
					<div class="trainer-bio__info flex-1 flex direction-colunm">
						<header>
							<h4 class="section__heading section__heading--small text-up color-dark-grey">jhon abrar</h4>
							<h4 class="section__heading section__heading--small mt-10 color-orange">Fitness Trainer</h4>
						</header>
						<p class="section__description mt-10 color-mid-grey">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ratione ducimus totam pariatur, ut vero nulla aspernatur, nesciunt est quod, inventore maxime. Dolores, facere voluptatem!
						</p>
						<div class="trainer-bio__social-media flex">
							<a href="#" class="social-media__link social-media__link--trainer-bio social-media__link--dark"><i class="fab fa-facebook-f color-grey"></i></a>
							<a href="#" class="social-media__link social-media__link--trainer-bio social-media__link--dark"><i class="fab fa-youtube color-grey"></i></a>
							<a href="#" class="social-media__link social-media__link--trainer-bio social-media__link--dark"><i class="fab fa-twitter color-grey"></i></a>
							<a href="#" class="social-media__link social-media__link--trainer-bio social-media__link--dark"><i class="fab fa-linkedin color-grey"></i></a>
							<a href="#" class="social-media__link social-media__link--trainer-bio social-media__link--dark"><i class="fab fa-pinterest-p color-grey"></i></a>
						</div>
					</div>
				</div>

			</div>
			<!-- content -->

		</div>
		<!--  /our trainers -->

		<!-- # section banner -->
		<div class="main__section-banner">
			<div class="section__hover-container">
				<h1 class="section__heading section__heading--large text-up text-center color-grey">
					do yout want to se our <span class="color-orange">activities</span>
				</h1>
				<a href="#" class="section__btn section__btn--center section__btn--orange mt-15">click now</a>
			</div>
			<img src="./img/fitness-banner-img-2.jpg" alt="Fitness banner image" />
		</div>
		<!-- /section banner -->

		<!-- # our classes -->
		<div class="main__our-classes padding-all">

			<!-- header -->
			<header class="section__header flex align-center justify-center">
				<div class="header__line header__line--left"></div>
				<h1 class="section__heading section__heading--large text-up text-center color-mid-grey">
					our <span class="color-orange">classes</span>
				</h1>
				<div class="header__line header__line--right"></div>
			</header>
			<!-- /header -->

			<!-- content -->
			<div class="flex wrap-true justify-between">

				<!-- class -->
				<div class="our-classes__class">
					<div class="class__banner">
						<div class="banner__disscount banner__disscount--right">20%</div>
						<div class="banner__trainer">
							<img src="./img/class-trainer-img-1.png" alt="Class trainer image">
						</div>
						<img src="./img/class-banner-img-1.jpeg" alt="Class banner image" />
					</div>
					<div class="class__description">
						<h4 class="section__heading section__heading--x-small text-up color-dark-grey">
							class name : <span class="color-orange">body building</span>
						</h4>
						<h4 class="section__heading section__heading--x-small mt-15 text-up color-dark-grey">
							trainer name : <span class="color-orange">jhon doe</span>
						</h4>
						<p class="section__description mt-10 color-mid-grey">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel architecto tempora voluptas ratione. Nisi eius voluptate a odio, quis, nam?
						</p>
						<footer class="flex justify-between mt-15">
							<a href="#" class="section__btn section__btn--grey">join now</a>
							<a href="#" class="section__btn section__btn--grey">read more</a>
						</footer>
					</div>
				</div>
				<!-- /class -->

				<!-- class -->
				<div class="our-classes__class">
					<div class="class__banner">
						<div class="banner__disscount banner__disscount--right">10%</div>
						<div class="banner__trainer">
							<img src="./img/class-trainer-img-3.png" alt="Class trainer image">
						</div>
						<img src="./img/class-banner-img-2.jpeg" alt="Class banner image" />
					</div>
					<div class="class__description">
						<h4 class="section__heading section__heading--x-small text-up color-dark-grey">
							class name : <span class="color-orange">spinning </span>
						</h4>
						<h4 class="section__heading section__heading--x-small mt-15 text-up color-dark-grey">
							trainer name : <span class="color-orange">jhon abrar</span>
						</h4>
						<p class="section__description mt-10 color-mid-grey">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel architecto tempora voluptas ratione. Nisi eius voluptate a odio, quis, nam?
						</p>
						<footer class="flex justify-between mt-15">
							<a href="#" class="section__btn section__btn--grey">join now</a>
							<a href="#" class="section__btn section__btn--grey">read more</a>
						</footer>
					</div>
				</div>
				<!-- /class -->

				<!-- class -->
				<div class="our-classes__class">
					<div class="class__banner">
						<div class="banner__disscount banner__disscount--right">15%</div>
						<div class="banner__trainer">
							<img src="./img/class-trainer-img-2.png" alt="Class trainer image">
						</div>
						<img src="./img/class-banner-img-3.jpeg" alt="Class banner image" />
					</div>
					<div class="class__description">
						<h4 class="section__heading section__heading--x-small text-up color-dark-grey">
							class name : <span class="color-orange">yoga trainig</span>
						</h4>
						<h4 class="section__heading section__heading--x-small mt-15 text-up color-dark-grey">
							trainer name : <span class="color-orange">jhane smith</span>
						</h4>
						<p class="section__description mt-10 color-mid-grey">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel architecto tempora voluptas ratione. Nisi eius voluptate a odio, quis, nam?
						</p>
						<footer class="flex justify-between mt-15">
							<a href="#" class="section__btn section__btn--grey">join now</a>
							<a href="#" class="section__btn section__btn--grey">read more</a>
						</footer>
					</div>
				</div>
				<!-- /class -->

			</div>
			<!-- /content -->

		</div>
		<!-- /our classes -->

		<!-- # section banner -->
		<div class="main__section-banner">
			<div class="section__hover-container">
				<h1 class="section__heading section__heading--large text-up text-center color-grey">
					gym fit mega <span class="color-orange">offers</span>
				</h1>
				<h1 class="section__heading section__heading--medium mt-10 text-up text-center color-grey">
					<span class="color-orange">50%</span> disscount
				</h1>
			</div>
			<img src="./img/fitness-banner-img-3.jpg" alt="Fitness banner image" />
		</div>
		<!-- /section banner -->

		<!-- # our store -->
		<div class="main__our-store padding-all">

			<!-- header -->
			<header class="section__header flex align-center justify-center">
				<div class="header__line header__line--left"></div>
				<h1 class="section__heading section__heading--large text-up text-center color-mid-grey">
					our <span class="color-orange">store</span>
				</h1>
				<div class="header__line header__line--right"></div>
			</header>
			<!-- /header -->

			<!-- content -->
			<div class="flex wrap-true justify-between">

				<!-- article -->
				<div class="our-store__article">
					<div class="article__banner">
						<div class="banner__disscount banner__disscount--left">20%</div>
						<img src="./img/store-article-img-1.jpg" alt="Article banner image" />
						<div class="article__actions flex">
							<button class="flex-1 actions__btn fas fa-cart-plus"></button>
							<button class="flex-1 actions__btn fas fa-heart"></button>
							<button class="flex-1 actions__btn fas fa-link"></button>
						</div>
					</div>
					<div class="article__description">
						<h4 class="section__heading section__heading--x-small text-up color-dark-grey">
							body building bench
						</h4>
						<div class="flex mt-10">
							<button class="article__star selected"><i class="fas fa-star"></i></button>
							<button class="article__star selected"><i class="fas fa-star"></i></button>
							<button class="article__star selected"><i class="fas fa-star"></i></button>
							<button class="article__star selected"><i class="fas fa-star"></i></button>
							<button class="article__star"><i class="fas fa-star"></i></button>
						</div>
						<p class="section__heading section__heading--small mt-10 color-orange">90$</p>
					</div>
				</div>
				<!-- /article -->

				<!-- article -->
				<div class="our-store__article">
					<div class="article__banner">
						<div class="banner__disscount banner__disscount--left">25%</div>
						<img src="./img/store-article-img-2.jpg" alt="Article banner image" />
						<div class="article__actions flex">
							<button class="flex-1 actions__btn fas fa-cart-plus"></button>
							<button class="flex-1 actions__btn fas fa-heart"></button>
							<button class="flex-1 actions__btn fas fa-link"></button>
						</div>
					</div>
					<div class="article__description">
						<h4 class="section__heading section__heading--x-small text-up color-dark-grey">
							body building bench
						</h4>
						<div class="flex mt-10">
							<button class="article__star selected"><i class="fas fa-star"></i></button>
							<button class="article__star selected"><i class="fas fa-star"></i></button>
							<button class="article__star selected"><i class="fas fa-star"></i></button>
							<button class="article__star selected"><i class="fas fa-star"></i></button>
							<button class="article__star"><i class="fas fa-star"></i></button>
						</div>
						<p class="section__heading section__heading--small mt-10 color-orange">120$</p>
					</div>
				</div>
				<!-- /article -->

				<!-- article -->
				<div class="our-store__article">
					<div class="article__banner">
						<div class="banner__disscount banner__disscount--left">8%</div>
						<img src="./img/store-article-img-3.jpg" alt="Article banner image" />
						<div class="article__actions flex">
							<button class="flex-1 actions__btn fas fa-cart-plus"></button>
							<button class="flex-1 actions__btn fas fa-heart"></button>
							<button class="flex-1 actions__btn fas fa-link"></button>
						</div>
					</div>
					<div class="article__description">
						<h4 class="section__heading section__heading--x-small text-up color-dark-grey">
							body building bench
						</h4>
						<div class="flex mt-10">
							<button class="article__star selected"><i class="fas fa-star"></i></button>
							<button class="article__star selected"><i class="fas fa-star"></i></button>
							<button class="article__star selected"><i class="fas fa-star"></i></button>
							<button class="article__star selected"><i class="fas fa-star"></i></button>
							<button class="article__star"><i class="fas fa-star"></i></button>
						</div>
						<p class="section__heading section__heading--small mt-10 color-orange">70$</p>
					</div>
				</div>
				<!-- /article -->

				<!-- article -->
				<div class="our-store__article">
					<div class="article__banner">
						<div class="banner__disscount banner__disscount--left">30%</div>
						<img src="./img/store-article-img-4.jpg" alt="Article banner image" />
						<div class="article__actions flex">
							<button class="flex-1 actions__btn fas fa-cart-plus"></button>
							<button class="flex-1 actions__btn fas fa-heart"></button>
							<button class="flex-1 actions__btn fas fa-link"></button>
						</div>
					</div>
					<div class="article__description">
						<h4 class="section__heading section__heading--x-small text-up color-dark-grey">
							body building bench
						</h4>
						<div class="flex mt-10">
							<button class="article__star selected"><i class="fas fa-star"></i></button>
							<button class="article__star selected"><i class="fas fa-star"></i></button>
							<button class="article__star selected"><i class="fas fa-star"></i></button>
							<button class="article__star selected"><i class="fas fa-star"></i></button>
							<button class="article__star"><i class="fas fa-star"></i></button>
						</div>
						<p class="section__heading section__heading--small mt-10 color-orange">50$</p>
					</div>
				</div>
				<!-- /article -->

				<!-- article -->
				<div class="our-store__article">
					<div class="article__banner">
						<div class="banner__disscount banner__disscount--left">20%</div>
						<img src="./img/store-article-img-5.jpg" alt="Article banner image" />
						<div class="article__actions flex">
							<button class="flex-1 actions__btn fas fa-cart-plus"></button>
							<button class="flex-1 actions__btn fas fa-heart"></button>
							<button class="flex-1 actions__btn fas fa-link"></button>
						</div>
					</div>
					<div class="article__description">
						<h4 class="section__heading section__heading--x-small text-up color-dark-grey">
							body building bench
						</h4>
						<div class="flex mt-10">
							<button class="article__star selected"><i class="fas fa-star"></i></button>
							<button class="article__star selected"><i class="fas fa-star"></i></button>
							<button class="article__star selected"><i class="fas fa-star"></i></button>
							<button class="article__star selected"><i class="fas fa-star"></i></button>
							<button class="article__star"><i class="fas fa-star"></i></button>
						</div>
						<p class="section__heading section__heading--small mt-10 color-orange">30$</p>
					</div>
				</div>
				<!-- /article -->

				<!-- article -->
				<div class="our-store__article">
					<div class="article__banner">
						<div class="banner__disscount banner__disscount--left">10%</div>
						<img src="./img/store-article-img-6.jpg" alt="Article banner image" />
						<div class="article__actions flex">
							<button class="flex-1 actions__btn fas fa-cart-plus"></button>
							<button class="flex-1 actions__btn fas fa-heart"></button>
							<button class="flex-1 actions__btn fas fa-link"></button>
						</div>
					</div>
					<div class="article__description">
						<h4 class="section__heading section__heading--x-small text-up color-dark-grey">
							body building bench
						</h4>
						<div class="flex mt-10">
							<button class="article__star selected"><i class="fas fa-star"></i></button>
							<button class="article__star selected"><i class="fas fa-star"></i></button>
							<button class="article__star selected"><i class="fas fa-star"></i></button>
							<button class="article__star selected"><i class="fas fa-star"></i></button>
							<button class="article__star"><i class="fas fa-star"></i></button>
						</div>
						<p class="section__heading section__heading--small mt-10 color-orange">350$</p>
					</div>
				</div>
				<!-- /article -->

				<!-- article -->
				<div class="our-store__article">
					<div class="article__banner">
						<div class="banner__disscount banner__disscount--left">15%</div>
						<img src="./img/store-article-img-7.jpg" alt="Article banner image" />
						<div class="article__actions flex">
							<button class="flex-1 actions__btn fas fa-cart-plus"></button>
							<button class="flex-1 actions__btn fas fa-heart"></button>
							<button class="flex-1 actions__btn fas fa-link"></button>
						</div>
					</div>
					<div class="article__description">
						<h4 class="section__heading section__heading--x-small text-up color-dark-grey">
							body building bench
						</h4>
						<div class="flex mt-10">
							<button class="article__star selected"><i class="fas fa-star"></i></button>
							<button class="article__star selected"><i class="fas fa-star"></i></button>
							<button class="article__star selected"><i class="fas fa-star"></i></button>
							<button class="article__star selected"><i class="fas fa-star"></i></button>
							<button class="article__star"><i class="fas fa-star"></i></button>
						</div>
						<p class="section__heading section__heading--small mt-10 color-orange">50$</p>
					</div>
				</div>
				<!-- /article -->

				<!-- article -->
				<div class="our-store__article">
					<div class="article__banner">
						<div class="banner__disscount banner__disscount--left">25%</div>
						<img src="./img/store-article-img-2.jpg" alt="Article banner image" />
						<div class="article__actions flex">
							<button class="flex-1 actions__btn fas fa-cart-plus"></button>
							<button class="flex-1 actions__btn fas fa-heart"></button>
							<button class="flex-1 actions__btn fas fa-link"></button>
						</div>
					</div>
					<div class="article__description">
						<h4 class="section__heading section__heading--x-small text-up color-dark-grey">
							body building bench
						</h4>
						<div class="flex mt-10">
							<button class="article__star selected"><i class="fas fa-star"></i></button>
							<button class="article__star selected"><i class="fas fa-star"></i></button>
							<button class="article__star selected"><i class="fas fa-star"></i></button>
							<button class="article__star selected"><i class="fas fa-star"></i></button>
							<button class="article__star"><i class="fas fa-star"></i></button>
						</div>
						<p class="section__heading section__heading--small mt-10 color-orange">150$</p>
					</div>
				</div>
				<!-- /article -->

			</div>
			<!-- /content -->

		</div>
		<!-- /our store -->

		<!-- # our numbers -->
		<div class="main__our-numbers padding-all flex wrap-true">

			<!-- element -->
			<div class="our-numbers__elemenet">
				<div class="our-numbers__circle">
					<div class="circle__center">
						<h4 class="section__heading section__heading--small text-center color-grey">70%</h4>
					</div>
				</div>
				<h4 class="section__heading section__heading--small mt-15 text-up text-center color-orange">love people</h4>
			</div>
			<!-- /element -->

			<!-- element -->
			<div class="our-numbers__elemenet">
				<div class="our-numbers__circle">
					<div class="circle__center">
						<h4 class="section__heading section__heading--small text-center color-grey">75%</h4>
					</div>
				</div>
				<h4 class="section__heading section__heading--small mt-15 text-up text-center color-orange">popularity</h4>
			</div>
			<!-- /element -->

			<!-- element -->
			<div class="our-numbers__elemenet">
				<div class="our-numbers__circle">
					<div class="circle__center">
						<h4 class="section__heading section__heading--small text-center color-grey">100%</h4>
					</div>
				</div>
				<h4 class="section__heading section__heading--small mt-15 text-up text-center color-orange">happi clients</h4>
			</div>
			<!-- /element -->

			<!-- element -->
			<div class="our-numbers__elemenet">
				<div class="our-numbers__circle">
					<div class="circle__center">
						<h4 class="section__heading section__heading--small text-center color-grey">85%</h4>
					</div>
				</div>
				<h4 class="section__heading section__heading--small mt-15 text-up text-center color-orange">equipements</h4>
			</div>
			<!-- /element -->

		</div>
		<!-- our numbers -->

		<!-- # our blogs -->
		<div class="main__our-blogs padding-all">

			<!-- header -->
			<header class="section__header flex align-center justify-center">
				<div class="header__line header__line--left"></div>
				<h1 class="section__heading section__heading--large text-up text-center color-mid-grey">
					our <span class="color-orange">blogs</span>
				</h1>
				<div class="header__line header__line--right"></div>
			</header>
			<!-- /header -->

			<!-- content -->
			<div class="flex wrap-true justify-between">

				<!-- blog-->
				<div class="our-blogs__blog">
					<div class="blog__banner">
						<img src="./img/blog-banner-img-1.jpg" alt="Blog banner image" />
					</div>
					<div class="blog__description">
						<h4 class="section__heading section__heading--x-small text-up color-dark-grey">
							running fitness
						</h4>
						<p class="section__description mt-10 color-mid-grey">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, rerum, voluptatibus? Commodi amet totam earum quae ipsa. Atque, ea, itaque.
						</p>
						<footer class="flex align-center justify-between mt-15">
							<div class="article__feedback">
								<span class="fw-mid fz-small mr-10 color-mid-grey"><i class="mr-10 fas fa-heart fa-1x color-orange"></i>150</span>
								<span class="fw-mid fz-small color-mid-grey"><i class="mr-10 fas fa-comments fa-1x color-orange"></i>80</span>
							</div>
							<a href="#" class="section__btn section__btn--grey">read more</a>
						</footer>
					</div>
				</div>
				<!-- /blog -->

				<!-- blog-->
				<div class="our-blogs__blog">
					<div class="blog__banner">
						<img src="./img/blog-banner-img-2.jpg" alt="Blog banner image" />
					</div>
					<div class="blog__description">
						<h4 class="section__heading section__heading--x-small text-up color-dark-grey">
							running fitness
						</h4>
						<p class="section__description mt-10 color-mid-grey">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, rerum, voluptatibus? Commodi amet totam earum quae ipsa. Atque, ea, itaque.
						</p>
						<footer class="flex align-center justify-between mt-15">
							<div class="article__feedback">
								<span class="fw-mid fz-small mr-10 color-mid-grey"><i class="mr-10 fas fa-heart fa-1x color-orange"></i>150</span>
								<span class="fw-mid fz-small color-mid-grey"><i class="mr-10 fas fa-comments fa-1x color-orange"></i>80</span>
							</div>
							<a href="#" class="section__btn section__btn--grey">read more</a>
						</footer>
					</div>
				</div>
				<!-- /blog -->

				<!-- blog-->
				<div class="our-blogs__blog">
					<div class="blog__banner">
						<img src="./img/blog-banner-img-3.jpg" alt="Blog banner image" />
					</div>
					<div class="blog__description">
						<h4 class="section__heading section__heading--x-small text-up color-dark-grey">
							running fitness
						</h4>
						<p class="section__description mt-10 color-mid-grey">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, rerum, voluptatibus? Commodi amet totam earum quae ipsa. Atque, ea, itaque.
						</p>
						<footer class="flex align-center justify-between mt-15">
							<div class="article__feedback">
								<span class="fw-mid fz-small mr-10 color-mid-grey"><i class="mr-10 fas fa-heart fa-1x color-orange"></i>150</span>
								<span class="fw-mid fz-small color-mid-grey"><i class="mr-10 fas fa-comments fa-1x color-orange"></i>80</span>
							</div>
							<a href="#" class="section__btn section__btn--grey">read more</a>
						</footer>
					</div>
				</div>
				<!-- /blog -->

			</div>
			<!-- /content -->

		</div>
		<!-- /our blogs -->

		<!-- # section banner -->
		<div class="main__section-banner">
			<div class="section__hover-container padding-lateral">
				<!-- newsletter -->
				<form class="newsletter__form" autocomplete="off">
					<h4 class="section__heading section__heading--small text-up color-orange">
						newsletter
					</h4>
					<div class="flex mt-15">
						<input class="flex-1 mr-15 newsletter__field" name="newsletter-email" placeholder="user@example.domain" />
						<button class="section__btn section__btn--orange">subscribe</button>
					</div>
				</form>
				<!-- /newsletter -->
			</div>
			<img src="./img/fitness-banner-img-5.jpg" alt="Fitness banner image" />
		</div>
		<!-- /section banner -->

		<!-- # empty section -->
		<div class="main__empty-section padding-top-down"></div>
		<!-- /empty section -->

		<!-- # contact us -->
		<div class="main__contact-us padding-all flex wrap-true justify-between">

			<div class="contact-us__element">
				<img src="./img/google-map.jpg" alt="Google map">
			</div>

			<div class="contact-us__element">
				<h4 class="section__heading section__heading--small text-up color-grey">contact us</h4>
				<div class="mt-15">
					<p class="section__description color-grey">Address : 379 5th jmd. USA</p>
					<p class="section__description color-grey">Phone : +(123) 5476 4165</p>
					<p class="section__description color-grey">Fax : +(987) 841 96465</p>
					<p class="section__description color-grey">Email : ingo@gymfit.com</p>
				</div>
			</div>

			<div class="contact-us__element">
				<h4 class="section__heading section__heading--small text-up color-grey">recent posts</h4>
				<div class="mt-15">
					<!-- post -->
					<div class="recent-posts__post flex">
						<img class="post__img" src="./img/flickr-img-5.jpg" alt="Post image"/>
						<div class="post__description">
							<h4 class="section__heading section__heading--small color-orange">Body Building</h4>
							<p class="section__description color-grey mt-5">Lorem ipsum dolor sit amet.</p>
						</div>
					</div>
					<!-- /post -->
					<!-- post -->
					<div class="recent-posts__post flex mt-15">
						<img class="post__img" src="./img/flickr-img-2.jpg" alt="Post image"/>
						<div class="post__description">
							<h4 class="section__heading section__heading--small color-orange">Fitness Training</h4>
							<p class="section__description color-grey mt-5">Lorem ipsum dolor sit amet.</p>
						</div>
					</div>
					<!-- /post -->
				</div>
			</div>

			<!-- flickr gallery -->
			<div class="contact-us__element">
				<h4 class="section__heading section__heading--small text-up color-grey">flirck gallery</h4>
				<div class="flex wrap-true justify-between mt-15">
					<div class="flickr__img">
						<img src="./img/flickr-img-1.jpg" alt="Flickr gallery image">
					</div>
					<div class="flickr__img">
						<img src="./img/flickr-img-2.jpg" alt="Flickr gallery image">
					</div>
					<div class="flickr__img">
						<img src="./img/flickr-img-3.jpg" alt="Flickr gallery image">
					</div>
					<div class="flickr__img">
						<img src="./img/flickr-img-4.jpg" alt="Flickr gallery image">
					</div>
					<div class="flickr__img">
						<img src="./img/flickr-img-5.jpg" alt="Flickr gallery image">
					</div>
					<div class="flickr__img">
						<img src="./img/flickr-img-6.jpg" alt="Flickr gallery image">
					</div>
				</div>
				<!-- flickr gallery -->
			</div>
			<!-- element -->

		</div>
		<!-- /contact us -->

		<!-- # footer -->
		<div class="main__footer flex align-center justify-between">
			<div class="footer__social-media flex">
				<a href="#" class="social-media__link social-media__link--trainer-footer social-media__link--dark"><i class="fab fa-facebook-f color-grey"></i></a>
				<a href="#" class="social-media__link social-media__link--trainer-footer social-media__link--dark"><i class="fab fa-youtube color-grey"></i></a>
				<a href="#" class="social-media__link social-media__link--trainer-footer social-media__link--dark"><i class="fab fa-twitter color-grey"></i></a>
				<a href="#" class="social-media__link social-media__link--trainer-footer social-media__link--dark"><i class="fab fa-linkedin color-grey"></i></a>
				<a href="#" class="social-media__link social-media__link--trainer-footer social-media__link--dark"><i class="fab fa-pinterest-p color-grey"></i></a>
			</div>
			<h6 class="footer__copyright section__heading text-up color-mid-grey">copyright 2020 | all rights reserved</h6>
			<div class="footer__pay-methods flex">
				<div class="pay-methods__method color-mid-grey" title="Paypal"><i class="fab fa-paypal"></i></div>
				<div class="pay-methods__method color-mid-grey" title="Bitcoin"><i class="fab fa-bitcoin"></i></div>
			</div>
		</div>
		<!-- /footer -->

	</div>
	<!-- /main -->

	<script src="/jquery-3.4.1.min.js"></script>
	<script src="/main.js"></script>

</body>

</html>
